@font-face {
    font-family: 'Barlow';
    src: url('../font/Barlow-SemiBold.woff2') format('woff2'),
    url('../font/Barlow-SemiBold.woff') format('woff'),
    url('../font/Barlow-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('../font/Barlow-Bold.woff2') format('woff2'),
    url('../font/Barlow-Bold.woff') format('woff'),
    url('../font/Barlow-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('../font/Barlow-Regular.woff2') format('woff2'),
    url('../font/Barlow-Regular.woff') format('woff'),
    url('../font/Barlow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces';
    src: url('../font/Fraunces-Black.woff2') format('woff2'),
    url('../font/Fraunces-Black.woff') format('woff'),
    url('../font/Fraunces-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


*,
*::after,
*::before {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Barlow, sans-serif;
}

img {
    display: inline-block;
}

.container {
    width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}
.header-link:hover{
    opacity: 0.8;
}

.header-link:active{
    opacity: 0.4;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}